<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Quyền truy cập vị trí chính xác -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Quyền truy cập vị trí tương đối (dự phòng) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_main_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankingApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="31">
        <activity
            android:name=".ConfirmWaterPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".PayWaterBillActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".PayElectricityBillActivity"
            android:parentActivityName=".CustomerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CustomerMainActivity" />
        </activity>
        <activity
            android:name=".ConfirmElectricityPaymentActivity"
            android:exported="false"
            android:parentActivityName=".PayWaterBillActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PayWaterBillActivity" />
        </activity>
        <activity
            android:name=".ConfirmRechargePhoneActivity"
            android:exported="false" />
        <activity
            android:name=".RechargePhoneActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".BankOfficerMainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6hT7klVvK35tmjh3W9UKF8JMhCBWs-Co" />

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewPaymentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".TransactionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EditOfficerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentReturnActivity"
            android:exported="true"
            android:launchMode="singleTask"> <!-- singleTask hoặc singleTop để tránh tạo nhiều instance -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Enable both http/https scheme handling for VNPay responses -->
                <data
                    android:host="vnpayresponse"
                    android:scheme="myapp" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditCustomerInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_customer_info"
            android:parentActivityName=".BankOfficerMainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditUserProfileActivity"
            android:exported="false"
            android:label="Cập nhật thông tin cá nhân"
            android:parentActivityName=".CustomerMainActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>